{% extends 'base.html' %}

{% block content %}
  <div class="grid-container">
  <div class="grid-item left">
    <button class="toggleButton">To category items</button>
    <h1 class="h1-admin-panel">
      <span>C</span><span>a</span><span>t</span><span>a</span><span>l</span><span>o</span><span>g</span>
      <span>i</span><span>t</span><span>a</span><span>m</span><span>s</span>
    </h1>
  <div id="catalogItemsContainer">
    <button id="addCatalogItemBtn">
      <div></div>
    </button>


    {% for item in catalog_items %}
      {% include 'adminPanel/catalog/catalog-item.html' with item=item %}
    {% endfor %}
</div>

<div class="pagination">
  <span class="step-links">
    {% if catalog_items.has_previous %}
      <a href="?page=1">&laquo; first</a>
      <a href="?page={{ catalog_items.previous_page_number }}">previous</a>
    {% endif %}

    <span class="current">
      Page {{ catalog_items.number }} of {{ catalog_items.paginator.num_pages }}.
    </span>

    {% if catalog_items.has_next %}
      <a href="?page={{ catalog_items.next_page_number }}">next</a>
      <a href="?page={{ catalog_items.paginator.num_pages }}">last &raquo;</a>
    {% endif %}
  </span>
</div>
    <div id="notification" class="notification"></div>
    <div id="catalogItemModal" class="modal">
    <div id="catalogItemModalContent" class="modal-content">
    </div>
  </div>
  </div>

  <div class="grid-item right">
     <button class="toggleButton">To products</button>
    <h1 class="h1-admin-panel"><span>G</span><span>o</span><span>o</span><span>d</span><span>s</span></h1>
  <div class="findContainer">
  <form style="width: 75%" action="?" method="get">
    <input class="goodsFinder" type="text" name="q" value="{{  request.GET.q|default_if_none:''}}">
    <button class="findGoods" type="submit"></button>
  </form>
</div>

      <div id="catalogItemsContainer">
     <button id="addProductItemBtn">
      <div></div>
    </button>
        {% for product in products %}
      {% include 'adminPanel/products/product-item.html' with product=product %}
    {% endfor %}
      </div>
  <div class="pagination">
  <span class="step-links">
    {% if products.has_previous %}
      <a href="?page=1">&laquo; first</a>
      <a href="?page={{ products.previous_page_number }}">previous</a>
    {% endif %}

    <span class="current">
      Page {{ products.number }} of {{ products.paginator.num_pages }}.
    </span>

    {% if products.has_next %}
      <a href="?page={{ products.next_page_number }}">next</a>
      <a href="?page={{ products.paginator.num_pages }}">last &raquo;</a>
    {% endif %}
  </span>
</div>

    <div id="catalogItemModal" class="modal">
      <div id="catalogItemModalContent" class="modal-content"></div>
    </div>
  </div>
</div>

{% endblock %}

