{% load static %}

<header id="header">
  <div class="header-left">
    <img id='logo' class="logo" src="{% static 'images/logo.png' %}" alt="logo">
      <span class="company-name company-name-admin"> Trerddfy</span>
       <button class="admin-button admin-button-panel" onclick="toggleHeaders()" style="margin-right: 20px">
         <span>Site</span>
       </button>
  </div>
  <div class="burger-menu" onclick="toggleAdminMenu()">
    <i id="burger" class="fas fa-bars burger"></i>
  </div>
  <nav id="navigation" class="admin-navigation">
    <ul id="navigation-list">
      <li class="nav-item first-nav-item"><a href="#"><i class="fas fa-info-circle"></i><span> Site info</span></a></li>
      <li class="nav-item"><a href="#"><i class="fas fa-box-open"></i><span> Products info</span></a></li>
      <li class="nav-item"><a href="#"><i class="fas fa-shopping-cart"></i><span> Orders</span></a></li>
      <li class="nav-item"><a href="#"><i class="fas fa-money-bill-wave"></i><span> Transactions</span></a></li>
      <li class="nav-item"><a href="#"><i class="fas fa-life-ring"></i><span> Support</span></a></li>
    </ul>
  </nav>
</header>

