{% load static %}

<header id="header" >
  <img id='logo' src="{% static 'images/logo.png' %}" alt="logo">
  <span class="company-name"> Trerddfy</span>
  {% if user.is_superuser %}
    <button class="admin-button" onclick="toggleHeaders()">
      <span>Admin panel</span>
    </button>
  {% endif %}
  <div class="burger-menu" onclick="toggleMenu()">
    <i id="burger" class="fas fa-bars"></i>
  </div>
    <nav id="navigation">
      <ul id="navigation-list">
        <li class="nav-item first-nav-item"><a href="{% url 'home' %}"><i class="fas fa-home"></i><span> Home</span></a></li>
        <li class="nav-item"><a href="{% url 'products:product-list' %}"><i class="fas fa-box"></i><span> Products</span></a></li>
        <li class="nav-item"><a href="#"><i class="fas fa-users"></i><span> About Us</span></a></li>
        <li class="nav-item"><a href="#"><i class="fas fa-star"></i><span> Review</span></a></li>
        <li class="nav-item"><a href="#"><i class="fas fa-headset"></i><span> Support</span></a></li>
      </ul>
    </nav>
  {% if user.is_superuser == False %}
    <div id="basket"><a href="{% url 'basket:list' %}"><i id="mainBasketIcon" class="fas fa-shopping-basket fa-2x"></i></a></div>

  <script>
  function getCookiesObject() {
  const cookies = document.cookie.split(';').map(cookie => cookie.trim());

  const cookiesObject = {};

  for (const cookie of cookies) {
    const [name, value] = cookie.split('=');
    cookiesObject[name] = value;
  }

  return cookiesObject;
}
let amountGoods = 0;
const allCookies = getCookiesObject();

for (const key in allCookies) {
  if (!isNaN(+allCookies[key])) {

    amountGoods += parseInt(allCookies[key]);
  }
}

const mainBasket = document.getElementById("mainBasketIcon");
mainBasket.innerText = amountGoods;

</script>

  {% endif %}
</header>
