{% extends 'base.html' %}
{% load static %}

{% block content %}
  <script>
  document.addEventListener('DOMContentLoaded', function () {
        var productBlocks = document.querySelectorAll('.reviewDiv');

        productBlocks.forEach(function (block) {
            var goodsId = block.getAttribute('goods-id');

            var textarea = block.querySelector('.reviewText');

            fetch('/reviews/comment-product/' + goodsId + "/")
                .then(response => response.json())
                .then(data => {

                    if (data.comment) {
                        textarea.value = data.comment;
                    }
                });
        });
    });


  document.addEventListener('DOMContentLoaded', function() {

    var buttons = document.querySelectorAll('.sendComment');

    buttons.forEach(function(button) {
        button.addEventListener('click', function() {
            var goodsId = this.getAttribute('goods-id');
            var textArea = document.querySelector('.reviewText[goods-id="'+ goodsId +'"]');
            var comment = textArea.value;

            if (comment) {
                var xhr = new XMLHttpRequest();
                xhr.open('POST', '/reviews/comment-product/' + goodsId + "/", true);
                xhr.setRequestHeader('Content-Type', 'application/json');
                xhr.setRequestHeader('X-CSRFToken', getCSRFToken());
                xhr.onload = function() {
                    if (xhr.status === 200) {
                        var response = JSON.parse(xhr.responseText);
                        alert(response.status);
                    }
                };
                xhr.send(JSON.stringify({ comment: comment}));
            }
        });
    });
});


  async function checkCommentStatus(goodsId) {
        try {
            const response = await fetch(`/reviews/comment-product/${goodsId}/`);
            const data = await response.json();

            if (data.comment_created === true) {
                return true;
            } else {
                return false;
            }
        } catch (error) {
            console.error('Error checking comment status:', error);
            return false;
        }
    }


    document.addEventListener('DOMContentLoaded', function() {
        const starElements = document.querySelectorAll('.star');
        starElements.forEach(star => {
            handleStarRating(star);
        });
    const stars = document.querySelectorAll('.star-rating span');

    stars.forEach(star => {
        star.addEventListener('click', function() {
            const rating = this.getAttribute('data-value');
            const goodsId = this.getAttribute('goods-id');
            console.log(123)
            setRating(rating, goodsId);

        });
    });
});

async function getRating(goodsId) {
    try {
        const response = await fetch('/reviews/rate-product/' + goodsId + '/');
        const data = await response.json();
        console.log(data.rating);
        return data.rating;
    } catch (error) {
        console.error('Error fetching rating:', error);
        return null;
    }
}

async function handleStarRating(starElement) {
    const goodsId = starElement.getAttribute('goods-id');
    const dataValue = +starElement.getAttribute('data-value');

    try {
        const rating = await getRating(goodsId);
        console.log(rating);

        if (rating !== null) {
            if (rating >= dataValue) {
                starElement.style.color = 'yellow';
            } else {
                starElement.style.color = 'black';
                starElement.classList.remove('hover-effect');
            }

            starElement.addEventListener('mouseover', () => {
                if (rating <= dataValue) {
                    starElement.classList.add('hover-effect');
                }
            });

            starElement.addEventListener('mouseout', () => {
                starElement.classList.remove('hover-effect');
            });
        }
    } catch (error) {
        console.error('Error handling star rating:', error);
    }
}


function setRating(rating, goodsId) {
  fetch('/reviews/rate-product/' + goodsId + '/', {
      method: 'POST',
      body: JSON.stringify({ rating: rating }),
      headers: {
          'Content-Type': 'application/json',
          'X-CSRFToken': getCSRFToken()
      }
  })
  .then(response => response.json())
  .then(data => {
      console.log('Success:', data);
      const starElements = document.querySelectorAll('.star');
        starElements.forEach(star => {
            handleStarRating(star);
        });
  })
  .catch((error) => {
      console.error('Error:', error);
  });
}


function getCSRFToken() {
    let name = 'csrftoken';
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            let cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
  </script>


    <ul class="ulOrder">
    {% for order in order_list %}
      <li class="orderItem">
        <div class="orderN">Order № {{ order.id }}</div>
      <div style="display: flex">
        <div class="orderInfoDitail">
          <div class="orderInfoTitle">Order Info</div>
          <div class="orderInside">
          <div>Receiver: {{ order.delivery_info.first_name }} {{ order.delivery_info.last_name }}</div>
            <div>Email: {{ order.delivery_info.email }}</div>
            <div>Phone: {{ order.delivery_info.phone }}</div>
            <div>Place of delivery:
              {{ order.delivery_info.country }}
              {{ order.delivery_info.city }}
              {{ order.delivery_info.street_address }}
              {{ order.delivery_info.postal_code }}
               <div>Data created: {{ order.data_created }}</div>
              {% if order.get_total_price %}
              <div>Total sum: {{ order.get_total_price }} {{ order.get_currency }}</div>
              {% endif %}
              </div>
            </div>
        </div>
        <div class="orderInfo">
          <div>
            <div class="orderGoodsTitle">Goods</div>
            <ul>
              {% for good in order.goods.all %}
                <div style="display: flex">
                <div>
                <li style="list-style: none">
                  <div class="orderProduct">
                    <div>
                      {% if good.product.images.all %}
                        <div>
                          {% for image in good.product.images.all %}
                            {% if image.main == True %}
                            <img class="productImageOrder" src="{{ image.image.url }}" alt="{{ good.product.name }}">
                            {% endif %}
                          {% endfor %}
                        </div>
                      {% else %}
                        <img  class="productImageOrder" src="{% static 'images/default-product-item.png' %}" alt="{{ good.product.name }}">
                      {% endif %}
                    </div>
                    <div>
                      <div>Name: {{ good.product.name }}</div>
                      <div>Amount: {{ good.amount }}</div>
                      {% if order.delivery_status == "delivered" %}
                    <div class="star-rating">

                          <span class="star star1" data-value="1" goods-id="{{ good.id }}">☆</span>
                          <span class="star star2" data-value="2" goods-id="{{ good.id }}">☆</span>
                          <span class="star star3" data-value="3" goods-id="{{ good.id }}">☆</span>
                          <span class="star star4" data-value="4" goods-id="{{ good.id }}">☆</span>
                          <span class="star star5" data-value="5" goods-id="{{ good.id }}">☆</span>

                      </div>
                    {% endif %}
                    </div>
                  </div>
                </li>
                </div>
                <div>
                   {% if order.delivery_status == "delivered" %}
                     <div style="display: flex; flex-direction: column;" goods-id="{{ good.id }}" class="reviewDiv">
                     <textarea class="reviewText" goods-id="{{ good.id }}"></textarea>
                     <button class="sendComment" goods-id="{{ good.id }}">Send comment</button>
                     </div>
                  {% endif %}
                </div>
                </div>

              {% endfor %}

            </ul>
          </div>
        </div>
        <div class="orderProgressScale">
        <div class="scaleElem scaleElem1 green">Order created</div>
        <div class="scaleElem scaleElem2 {% if order.delivery_status != 'created' %}green{% endif %}">Take in work</div>
        <div class="scaleElem scaleElem3 {% if order.delivery_status == 'shipped' or order.delivery_status == 'delivered' %}green{% endif %}">Send</div>
        <div class="scaleElem scaleElem4 {% if order.delivery_status == 'delivered' %}green{% endif %}">Delivered</div>
          <style>
            .green { background: #4CAF50; }
          </style>

        </div>
      </div>
      </li>
    {% endfor %}
  </ul>
  {% if order_list %}
  <div class="pagination">
    <span class="step-links">
      {% if order_list.has_previous %}
        <a href="?page=1">&laquo; first</a>
        <a href="?page={{ order_list.previous_page_number }}">previous</a>
      {% endif %}

      <span class="current">
        Page {{ order_list.number }} of {{ order_list.paginator.num_pages }}.
      </span>

      {% if order_list.has_next %}
        <a href="?page={{ order_list.next_page_number }}">next</a>
        <a href="?page={{ order_list.paginator.num_pages }}">last &raquo;</a>
      {% endif %}
    </span>
  </div>
  {% endif %}
  {% if not order_list %}
      {% include 'includes/orderEmptyPage.html' %}
    <style>.ulOrder{display: none}</style>
  {% endif %}
{% endblock %}
