{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block content %}
  <div id="productGridContainer">
  <div id="catalogCustomerList">
    {% for item in catalog_items %}
      <div class="CtlgItmCntnr" onclick="updateCatalogId({{ item.id }})">

      <script>
function updateCatalogId(catalogId) {
  var currentUrl = window.location.href;

  currentUrl = currentUrl.replace(/([?&])((?!catalog_item_id=)[^&=]+=[^&]*)/g, '');

  if (currentUrl.indexOf('catalog_item_id=') !== -1) {
    var updatedUrl = currentUrl.replace(/(catalog_item_id=)[^\&]+/, '$1' + catalogId);
  } else {
    var separator = currentUrl.indexOf('?') !== -1 ? '&' : '?';
    var updatedUrl = currentUrl + separator + 'catalog_item_id=' + catalogId;
  }
  window.location.href = updatedUrl;
}
</script>

<script>

$(document).ready(function() {
    $('.starRatingList').each(function() {
        var $starRatingList = $(this);
        var productId = $starRatingList.data("product-id");

        $.ajax({
            url: '/reviews/get-avg-rating/' + productId + '/',
            type: 'GET',
            dataType: 'json',
            success: function(data) {
                var avgRating = data.avg_rating;

                $starRatingList.find('span').each(function() {
                    var ratingValue = $(this).data('value');

                    $(this).css('background', 'none');
                    $(this).css('color', 'black');

                    if (ratingValue <= avgRating) {
                        $(this).css('color', 'yellow');
                    } else if (ratingValue - avgRating < 1) {
                        var fillPercentage = (avgRating - Math.floor(avgRating)) * 100;
                        $(this).css({
                            'background': 'linear-gradient(to right, yellow ' + fillPercentage + '%, black ' + fillPercentage + '%)',
                            '-webkit-background-clip': 'text',
                            'color': 'transparent'
                        });
                    }
                });
            },
            error: function(error) {
                console.log(error);
            }
        });
    });
});

$(document).ready(function() {
    $('.commentIcon').each(function() {
        var $commentIcon = $(this);
        var productId = $commentIcon.data("product-id");

        $.ajax({
            url: '/reviews/get-comment-amount/' + productId + '/',
            type: 'GET',
            dataType: 'json',
            success: function(data) {
                var commentsAmount = data.comments_amount;

                $commentIcon.text(commentsAmount);
            },
            error: function(error) {
                console.log(error);
            }
        });
    });
});

     </script>
      {% if item.icon %}
        <img class="itemIcons" src="{{ item.icon.url }}" alt="{{ item.name }}">
        {% else %}
         <img class="itemIcons" src="{% static 'images/defoultcatalog-icon.png' %}" alt="{{ item.name }}">
        {% endif %}
        <span class="itmNm">{{ item.name }} </span>
      </div>
    {% endfor %}
  </div>
  <div id="productCustomerList">
    <div class="findContainer findProductConteiner">
  <form style="width: 75%" action="?" method="get">
    <input class="goodsFinder productFinder" type="text" name="q" value="{{  request.GET.q|default_if_none:''}}">
    <button class="findGoods" type="submit"></button>
  </form>
</div>
  <div class="flexProductContainer">
    {% for product in products %}
        {% include "shop/products-item.html" with product=product %}
    {% endfor %}
  </div>

  <div class="pagination">
  <span class="step-links">
    {% if products.has_previous %}
      <a href="?{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}&page=1">&laquo; first</a>
      <a href="?{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}&page={{ products.previous_page_number }}">previous</a>
    {% endif %}

    <span class="current">
      Page {{ products.number }} of {{ products.paginator.num_pages }}.
    </span>

    {% if products.has_next %}
      <a href="?{% for key, value in request.GET.items %}&{{ key }}={{ value }}{% endfor %}&page={{ products.next_page_number }}">next</a>
      <a href="?{% for key, value in request.GET.items %}&{{ key }}={{ value }}{% endfor %}&page={{ products.paginator.num_pages }}">last &raquo;</a>
    {% endif %}
  </span>
</div>
  </div>
  <div id="productFilters">
    <div id="filtersProductListTitle">Filters</div>
    <button id="applyFilters" onclick="applyFilters()">Apply filters</button>
    <button id="applyFilters" onclick="cancelFilters()">Cancel filters</button>
    <script>
        function cancelFilters() {
          var currentUrl = window.location.href;
          var url = new URL(currentUrl);
          var searchParams = url.searchParams;
          searchParams.forEach(function(value, key) {
              searchParams.delete(key);
          });

          window.location.href = url.pathname;
      }

       function applyFilters() {
        var currentUrl = window.location.href;
        currentUrl = currentUrl.replace(/([?&])page=[^&]*&?/, '$1');

        const min_price = document.querySelector(".min-range").value;
        const max_price = document.querySelector(".max-range").value;
        const selectedBrand = document.querySelector("#brandSelect").value;
        const availableChecked = document.querySelector("#availableCheckbox").checked;
        const discountCheckbox = document.querySelector("#discountCheckbox").checked;
        const commentCheckbox = document.querySelector("#commentCheckbox").checked;
        const topCheckbox = document.querySelector("#topCheckbox").checked;
        const orderSelect = document.querySelector("#orderSelect").value;


        function updateUrlParameter(url, paramName, paramValue) {
            if (url.indexOf(paramName + '=') !== -1) {
                return url.replace(new RegExp('(' + paramName + '=)[^\&]+'), '$1' + paramValue);
            } else {
                var separator = url.indexOf('?') !== -1 ? '&' : '?';
                return url + separator + paramName + '=' + paramValue;
            }
        }
        function deleteUrlParameter(url, paramName) {
          var pattern = new RegExp('(&|\\?)' + paramName + '=([^&]*)', 'g');

          var cleanUrl = url.replace(pattern, '');

          if (!cleanUrl.includes('?')) {
              cleanUrl = cleanUrl.replace('&', '?');
          }

          cleanUrl = cleanUrl.replace(/&&/g, '&');

          cleanUrl = cleanUrl.replace(/[&?]$/, '');

          return cleanUrl;
      }


        currentUrl = updateUrlParameter(currentUrl, 'price__gte', min_price);
        currentUrl = updateUrlParameter(currentUrl, 'price__lte', max_price);
        if (selectedBrand === "None") {
            currentUrl = deleteUrlParameter(currentUrl, 'brand')
        } else {
            currentUrl = updateUrlParameter(currentUrl, 'brand', selectedBrand)
        }
        if (orderSelect == "None") {
            currentUrl = deleteUrlParameter(currentUrl, 'ordering')
        } else {
            currentUrl = updateUrlParameter(currentUrl, 'ordering', orderSelect)
        }
        if (availableChecked) {
        currentUrl = updateUrlParameter(currentUrl, 'inventory__gt', 0);
        } else {
            currentUrl = deleteUrlParameter(currentUrl, 'inventory__gt');
        }
        if (discountCheckbox) {
            currentUrl = updateUrlParameter(currentUrl, 'has_discount', true);
        } else {
             currentUrl = deleteUrlParameter(currentUrl, 'has_discount');
        }
        if (commentCheckbox) {
            currentUrl = updateUrlParameter(currentUrl, 'has_comments', true);
        } else {
             currentUrl = deleteUrlParameter(currentUrl, 'has_comments');
        }
        if (topCheckbox) {
            currentUrl = updateUrlParameter(currentUrl, 'is_top', true);
        } else {
             currentUrl = deleteUrlParameter(currentUrl, 'is_top');
        }
        window.location.href = currentUrl;
    }
    </script>

    <script>
      document.addEventListener('DOMContentLoaded', function() {
    function getQueryParam(param) {
        var search = window.location.search.substring(1);
        var params = search.split('&');
        for (var i = 0; i < params.length; i++) {
            var pair = params[i].split('=');
            if (decodeURIComponent(pair[0]) === param) {
                return decodeURIComponent(pair[1]);
            }
        }
        return null;
    }

    var priceGte = getQueryParam('price__gte');
    var priceLte = getQueryParam('price__lte');

    if (priceGte && priceLte) {
        var minInput = document.querySelector('.min-input');
        var maxInput = document.querySelector('.max-input');
        var minRange = document.querySelector('.min-range');
        var maxRange = document.querySelector('.max-range');

        if (minInput && maxInput) {
            minInput.value = priceGte;
            maxInput.value = priceLte;
        }

        if (minRange && maxRange) {
            minRange.setAttribute('min', priceGte);
            maxRange.setAttribute('max', priceLte);
            minRange.value = priceGte;
            maxRange.value = priceLte;
        }
    }
});

    </script>
        <div id="priceWraper">
			<div class="price-input-container">
				<div class="price-input">
					<div class="price-field">
						<span>Minimum Price</span>
						<input type="number"
							class="min-input"
							value="{{ min_price }}">
					</div>
					<div class="price-field">
						<span>Maximum Price</span>
						<input type="number"
							class="max-input"
							value="{{ max_price }}">
					</div>
				</div>
				<div class="slider-container">
					<div class="price-slider">
					</div>
				</div>
			</div>

			<div class="range-input">
				<input type="range"
					class="min-range"
					min="{{ min_price }}"
					max="{{ max_price }}"
					value="{{ min_price }}"
					step="1">
				<input type="range"
					class="max-range"
					min="{{ min_price }}"
					max="{{ max_price }}"
					value="{{ max_price }}"
					step="1">
			</div>
</div>

<script>
const rangevalue =
	document.querySelector(".slider-container .price-slider");
const rangeInputvalue =
	document.querySelectorAll(".range-input input");

let priceGap = 1;

const priceInputvalue =
	document.querySelectorAll(".price-input input");
for (let i = 0; i < priceInputvalue.length; i++) {
	priceInputvalue[i].addEventListener("input", e => {

		let minp = parseInt(priceInputvalue[0].value);
		let maxp = parseInt(priceInputvalue[1].value);
		let diff = maxp - minp

		if (minp < {{min_price}}) {
			alert("minimum price cannot be less than {{min_price}}");
			priceInputvalue[0].value = {{min_price}};
			minp = {{min_price}};
		}

		if (maxp > {{max_price}}) {
			alert("maximum price cannot be greater than {{max_price}}");
			priceInputvalue[1].value = {{max_price}};
			maxp = {{max_price}};
		}

		if (minp > maxp - priceGap) {
			priceInputvalue[0].value = maxp - priceGap;
			minp = maxp - priceGap;

			if (minp < 0) {
				priceInputvalue[0].value = 0;
				minp = 0;
			}
		}

		if (diff >= priceGap && maxp <= rangeInputvalue[1].max) {
			if (e.target.className === "min-input") {
				rangeInputvalue[0].value = minp;
				let value1 = rangeInputvalue[0].max;
				rangevalue.style.left = `${(minp / value1) * 100}%`;
			}
			else {
				rangeInputvalue[1].value = maxp;
				let value2 = rangeInputvalue[1].max;
				rangevalue.style.right =
					`${100 - (maxp / value2) * 100}%`;
			}
		}
	});

	for (let i = 0; i < rangeInputvalue.length; i++) {
		rangeInputvalue[i].addEventListener("input", e => {
			let minVal =
				parseInt(rangeInputvalue[0].value);
			let maxVal =
				parseInt(rangeInputvalue[1].value);

			let diff = maxVal - minVal

			if (diff < priceGap) {

				if (e.target.className === "min-range") {
					rangeInputvalue[0].value = maxVal - priceGap;
				}
				else {
					rangeInputvalue[1].value = minVal + priceGap;
				}
			}
			else {
				priceInputvalue[0].value = minVal;
				priceInputvalue[1].value = maxVal;
				rangevalue.style.left =
					`${((minVal - rangeInputvalue[0].min) / (rangeInputvalue[0].max - rangeInputvalue[0].min) * 100)}%`;
				rangevalue.style.right =
					`${100 - ((maxVal - rangeInputvalue[0].min) / (rangeInputvalue[1].max - rangeInputvalue[0].min)) * 100}%`;
			}
		});
	}
}
</script>

    <div class="brandSelection">
    <label class="brandSelect" for="brandSelect">Brand:</label>
    <select id="brandSelect" class="selectBlock" name="brand">
        <option value="None">-------------</option>
      {% for brand in brands %}
        <option value="{{ brand }}">{{ brand }}</option>
      {% endfor %}
    </select>
</div>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
    function getQueryParam(name) {
        const params = new URLSearchParams(window.location.search);
        return params.get(name);
    }

    const selectedBrand = getQueryParam('brand');
    const orderSelect = getQueryParam('ordering');

    if (selectedBrand) {
        const brandSelect = document.getElementById('brandSelect');
        brandSelect.value = selectedBrand;

    }
    if (orderSelect) {
        const brandSelect = document.getElementById('orderSelect');
        brandSelect.value = orderSelect;

    }
});
  </script>

  <div class="brandSelection">
    Available: <input type="checkbox" id="availableCheckbox" name="available" class="checkboxProductList">
  </div>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
    function getUrlParameter(name) {
        name = name.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]');
        var regex = new RegExp('[\\?&]' + name + '=([^&#]*)');
        var results = regex.exec(location.search);
        return results === null ? '' : decodeURIComponent(results[1].replace(/\+/g, ' '));
    }

    const inventoryGt = getUrlParameter('inventory__gt');
    const has_discount = getUrlParameter('has_discount');
    const has_comments = getUrlParameter('has_comments');
    const is_top = getUrlParameter('is_top');

    if (inventoryGt !== '') {
        document.querySelector("#availableCheckbox").checked = true;
    } else {
        document.querySelector("#availableCheckbox").checked = false;
    }
    if (has_discount == "true") {
         document.querySelector("#discountCheckbox").checked = true;
    } else {
         document.querySelector("#discountCheckbox").checked = false;
    }
     if (has_comments == "true") {
         document.querySelector("#commentCheckbox").checked = true;
    } else {
         document.querySelector("#commentCheckbox").checked = false;
    }
     if (is_top == 'true') {
             document.querySelector("#topCheckbox").checked = true;
    } else {
         document.querySelector("#topCheckbox").checked = false;
    }
});
  </script>
    <div class="brandSelection">
    Has discount: <input type="checkbox" id="discountCheckbox" name="available" class="checkboxProductList">
  </div>

   <div class="brandSelection">
    Has comments: <input type="checkbox" id="commentCheckbox" name="available" class="checkboxProductList">
  </div>

   <div class="brandSelection">
    Is top: <input type="checkbox" id="topCheckbox" name="available" class="checkboxProductList">
  </div>

 <div class="brandSelection">
    <label class="brandSelect" for="brandSelect">Ordering:</label>
    <select id="orderSelect" class="selectBlock" name="brand">
        <option value="None">-------------</option>
        <option value="toMaxPrice">To max price</option>
        <option value="toMinPrice">To min price</option>
        <option value="byRating">By Rating</option>
    </select>
</div>

  </div>
  </div>
{% endblock %}