{% load static %}
{% load custom_filters %}

<div class="productCustomerContainer">
<script>
    document.querySelectorAll('.imageContainerList').forEach(item => {
        item.addEventListener('click', function() {
            window.location.href = this.getAttribute('data-url');
        });
    });
</script>
    <div id="notification" class="notification"></div>
{% if product.inventory <= 0 %}
  <div class="overlay">
  <div class="notAvailableNow">Not available now</div>
  </div>
{% endif %}
<div class="imageContainerList" data-url="{% url 'products:product_detail' product.id %}">
    {% if product.get_discount %}
      <div class="discountProcentList"> - {{ product.get_discount }} % </div>
    {% endif %}
   {% for image in product.images.all %}
    {% if image.main %}
      <img class="productImageList" src="{{ image.image.url }}" alt="{{ product.name }}">
    {% endif %}
  {% empty %}
    <img class="productImageList" src="{% static 'images/default-product-item.png' %}" alt="{{ product.name }}">
  {% endfor %}
  </div>
    <div class="flexBoxProduct">
      <div class="productNameList">Name: {{ product.name }}</div>
      <div style="display: flex; align-self: flex-start; margin-left: 15px">
         <div class="starRatingList"  data-product-id="{{ product.id }}">
            <span class="starList star1List" data-value="1">☆</span>
            <span class="starList star2List" data-value="2">☆</span>
            <span class="starList star3List" data-value="3">☆</span>
            <span class="starList star4List" data-value="4">☆</span>
            <span class="starList star5List" data-value="5">☆</span>
        </div>
        <div>
           <i class="fas fa-comment commentIcon" data-product-id="{{ product.id }}"></i>
        </div>
      </div>
      <div class="priceProductList">
        <span style="{% if product.get_discount_price %}text-decoration: line-through; color: red;{% endif %}">
        Price: {{ product.price }}
        </span>
      </div>

      {% if product.get_discount_price %}
        <div class="discountList">
          <span style="color: darkgreen"> Discount price: {{ product.get_discount_price }} </span>
        </div>
      {% endif %}

      <div class="productBasket">
        <span class="plusBasket basketSymbol" data-product-id="{{ product.id }}" onclick="addToBasket(this, {{ product.inventory }})">+</span>
        <i id="basket-{{ product.id }}" class="fas fa-shopping-basket"></i>
        <span class="minusBasket basketSymbol" data-product-id="{{ product.id }}" onclick="removeFromBasket(this)">-</span>
      </div>
    </div>
</div>

<script>
  function addToBasket(element, productInventory) {
      let productId = element.getAttribute('data-product-id');
      let basket = document.getElementById(`basket-${productId}`);
      let count = getBasketCount(productId);
      if (count < productInventory) {
          count++;
          basket.innerText = count;
          setBasketCount(productId, count);
          let mainBasket = document.getElementById("mainBasketIcon")
          mainBasket.innerText++
      } else {
          showNotification("Insufficient stock!", false);
      }
  }

  function removeFromBasket(element) {
    let productId = element.getAttribute('data-product-id');
    let basket = document.getElementById(`basket-${productId}`);
    let count = getBasketCount(productId);
    if (count > 0) {
      count--;
      basket.innerText = count;
      setBasketCount(productId, count);
      let mainBasket = document.getElementById("mainBasketIcon")
      mainBasket.innerText--
    }
  }

  function setBasketCount(productId, count) {
    if (count === 0) {
      document.cookie = `basket_${productId}=; expires=Thu, 01 Jan 1970 00:00:00 GMT; path=/`;
    } else {
      document.cookie = `basket_${productId}=${count}; expires=Fri, 31 Dec 9999 23:59:59 GMT; path=/`;
    }
  }

  function getBasketCount(productId) {
    let name = `basket_${productId}=`;
    let decodedCookie = decodeURIComponent(document.cookie);
    let cookieArray = decodedCookie.split(';');
    for (let i = 0; i < cookieArray.length; i++) {
      let cookie = cookieArray[i].trim();
      if (cookie.indexOf(name) === 0) {
        return parseInt(cookie.substring(name.length)) || 0;
      }
    }
    return 0;
  }

  window.onload = function() {
    let productIds = Array.from(document.querySelectorAll('.plusBasket, .minusBasket')).map(element => element.getAttribute('data-product-id'));
    productIds.forEach(productId => {
      let basket = document.getElementById(`basket-${productId}`);
      let count = getBasketCount(productId);
      basket.innerText = count;
    });
  };
</script>