@keyframes colorChange {
  0% {
    background: #e6e0ff;
  }
  25% {
    background: #d7d0ff;
  }
  50% {
    background: #c8c0ff;
  }
  75% {
    background: #b9b0ff;
  }
  100% {
    background: #e6e0ff;
  }
}

body {
  margin: 0;
}

#header {
  animation: colorChange 10s infinite linear;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
}

.header-left {
  display: flex;
  align-items: center;
}

#logo {
  width: 40px;
  border-radius: 50%;
  padding: 10px;
  transition: transform 0.3s ease;
}

#logo:hover {
  transform: scale(1.5);
}

#navigation {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  margin: 0 20px;
}

#navigation-list {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.nav-item {
  margin: 0 10px;
}

#basket {
}

.admin-button {
  width: 140px;
  padding: 10px 20px;
  margin-left: 1vw;
  right: 0;
  border: none;
  background-image: linear-gradient(to right, #9c8cfc, #8c82f6);
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 25px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  outline: none;
  transition: box-shadow 0.2s ease;
}

.admin-button:hover {
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
}

.admin-button:active {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#main-header, #admin-header {
  transition: opacity 0.5s ease;
}

.hidden {
  opacity: 0;
  display: none;
}

#navigation-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-flex;
  align-items: center;
}

.first-nav-item {
  border-left: 2px solid #ddd;

}

.nav-item {
  margin: 0;
  padding: 10px 25px;
  border-right: 2px solid #ddd;

}

.nav-item a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.nav-item i {
  margin-right: 8px;
}

.nav-item a i {
  transition: transform 0.3s ease;
  margin-right: 8px;
}

.nav-item a span {
  transition: opacity 0.3s ease;
}

.nav-item a:hover i {
  transform: scale(3) translateX(12px);
}

.nav-item a:hover span {
  opacity: 0;
}

#basket a i {
  padding-right: 40px;
}

#basket a:hover i {
  transform: scale(1.5);
}

.company-name {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-left: 20px;
  vertical-align: middle;
  font-family: 'Arial', sans-serif;
  text-transform: uppercase;
  font-style: italic;
  transform: skew(-10deg);
}

.burger-menu {
  display: none;
  cursor: pointer;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .nav-item a span {
    display: none;
  }
  .nav-item a:hover i {
    transform: scale(3);
  }
}


@media screen and (max-width: 768px) {
  .burger-menu {
    display: block;
  }

  #navigation {
    display: none;
    flex-direction: column;
  }

  #navigation-list {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .nav-item {
    text-align: center;
    width: 100%;
    border-bottom: 2px solid #ddd;
    border-right: none;
    border-left: none;
  }

   .nav-item a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px 0;
  }
  #header .burger-menu {
    order: 3;
  }

  #header #basket {
    order: 2;
  }

  #header .company-name {
    order: 1;
  }
  .company-name {
    margin: 10px;
  }
}



/*asdfadfsasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfs*/

.notification {
  visibility: hidden;
  min-width: 150px;
  background-color: #f44336;
  color: white;
  text-align: center;
  border-radius: 4px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  top: 60px;
  transform: translateX(-50%);
}

.notification.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {top: 30px; opacity: 0;}
  to {top: 60px; opacity: 1;}
}

@keyframes fadein {
  from {top: 30px; opacity: 0;}
  to {top: 60px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {top: 60px; opacity: 1;}
  to {top: 30px; opacity: 0;}
}

@keyframes fadeout {
  from {top: 60px; opacity: 1;}
  to {top: 30px; opacity: 0;}
}


#catalogItemForm {
  max-width: 600px;
  padding: 15px;
  background-color: #e3ddfc;
  border: 1px solid #ddd;
  border-radius: 8px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

#catalogItemForm .form-group {
  margin-bottom: 15px;
}

#catalogItemForm input[type="text"],
#catalogItemForm input[type="file"],

#catalogItemForm select,
#catalogItemForm textarea {
  width: 100%;
  padding: 18px 10px 8px 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.7);
  box-sizing: border-box;
}

#catalogItemForm input[type="text"]:focus,
#catalogItemForm input[type="file"]:focus,
#catalogItemForm select:focus,
#catalogItemForm textarea:focus {
  outline: none;
  border-color: #999;
}

#catalogItemForm button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  z-index: 2;
}

#catalogItemForm button:hover {
  background-color: #45a049;
}

.file-upload-label {
  display: inline-block;
  margin-bottom: 5px;
  color: purple;
  text-align: center;
  border-radius: 4px;

}

#catalogItemForm input::placeholder {
  font-size: 130%;
  font-style: italic;
}

.catalog-title {
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
  font-size: 130%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formButton {
  padding: 10px 20px;
  font-size: 14px;
  color: #ffffff;
  border: none;
  border-radius: 20px;
  background: linear-gradient(to right, #654ea3, darkgreen);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  cursor: pointer;
}

.formButton:hover {
  background: linear-gradient(to right, #563d7c, #daa520);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.formButton:active {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#cancelButton {
  background: linear-gradient(to right, #654ea3, darkred);
}
#cancelButton:hover {
  background: linear-gradient(to right, #654ea3, yellow);
}

.form-buttons {
  display: flex;
  justify-content: center;
  gap: 40px;
}