{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{% static '/main.css' %}">
   <script src="{% static '/main.js' %}"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Texturina:wght@700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57P+QmMa+Pf4YYsmFRSl+NV8PbtFg8tEfn6SyJF3FQne8Jx" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

  <title>{% block title %}Django shop{% endblock %}</title>
</head>
<body>
  <div id="main-header">
  {% include 'includes/header.html' with site=site %}
  </div>
  <div id="admin-header" style="display: none;">
  {% include 'includes/admin_header.html' with site=site %}
  </div>
  <main>
      {% block content %}{% endblock %}
  </main>
  {% include 'includes/footer.html' %}
</body>
</html>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    const adminCookie = getCookiey("admin");
    console.log(adminCookie)
    var mainHeader = document.getElementById("main-header");
    var adminHeader = document.getElementById("admin-header");

        if (adminCookie === "true") {
             mainHeader.style.display = "none";
            adminHeader.style.display = "block";
         } else {
             mainHeader.style.display = "block";
            adminHeader.style.display = "none";
        }

});
  function getCookiey(name) {
    const nameEQ = name + "=";
    const ca = document.cookie.split(';');
    for(let i = 0; i < ca.length; i++) {
        let c = ca[i].trim();
        if (c.indexOf(nameEQ) === 0) return c.substring(nameEQ.length);
    }
    return null;
}
</script>